<header class="TopBar animate__animated animate__fadeInDown">
  <div class="cpanel-logo">

    <a href="#" class="Logo-cp LogoTit xbardown">
      <img src="./assets/img/logo-cpanel-dark.png" id="CpanelImag" alt="logo">
      <span class="theme-Bg"> Student </span>
    </a>
  </div>
  <div class="custom-menu float-rx">
    <div class="toggleMenu xbardown" id="sidebarCollapse">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>
  </div>

  <div class="TopBarBtns">
    <ul class="nav notisBar">
      <li class="dropdown">
        <a class="dropdown-toggle btn notification" title="message" data-toggle="dropdown" href="#"
          aria-expanded="true">
          <i class="fa fa-envelope fa-fw"></i>
          <span>3</span>
        </a>
        <ul class="dropdown-menu dropdown-messages animate__animated animate__fadeInDown">
          <div class="dropdown-header bg-light"><strong>You have 3 pending messages</strong></div>
          <li>
            <a rel="nofollow" href="#" class="dropdown-item d-flex">
              <div class="msg-profile">
                <img src="./assets/img/cpanel/invest.jpg" alt="..." class="img-fluid rounded-circle">
              </div>
              <div class="msg-body">
                <h3 class="h5">Mohamed Ali</h3>
                <span>sent you a direct message</span>
                <small>3 days ago at 7:58 pm - 10/06/2020</small>
              </div>
            </a>
          </li>
          <li>
            <a rel="nofollow" href="#" class="dropdown-item d-flex">
              <div class="msg-profile">
                <img src="./assets/img/cpanel/invest.jpg" alt="..." class="img-fluid rounded-circle">
              </div>
              <div class="msg-body">
                <h3 class="h5">Mohamed Ali</h3>
                <span>sent you a direct message</span>
                <small>3 days ago at 7:58 pm - 10/06/2020</small>
              </div>
            </a>
          </li>
          <li>
            <a rel="nofollow" href="#" class="dropdown-item d-flex">
              <div class="msg-profile">
                <img src="./assets/img/cpanel/invest.jpg" alt="..." class="img-fluid rounded-circle">
              </div>
              <div class="msg-body">
                <h3 class="h5">Mohamed Ali</h3>
                <span>sent you a direct message</span>
                <small>3 days ago at 7:58 pm - 10/06/2020</small>
              </div>
            </a>
          </li>
          <li>
            <a rel="nofollow" href="#" class="dropdown-item all-notifications text-center Clr8">
              <strong> <i class="fa fa-envelope pr-2"></i>Read all messages </strong>
            </a>
          </li>
        </ul>
        <!-- /.dropdown-messages -->
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle btn notification" title="tasks" data-toggle="dropdown" href="#">
          <i class="fa fa-tasks fa-fw"></i>
          <span>5</span>
        </a>
        <div class="dropdown-menu dropdown-messages dropdown-tasks animate__animated animate__fadeInDown">
          <div class="dropdown-header bg-light"><strong>You have 5 pending tasks</strong></div>
          <a class="dropdown-item d-block" href="#">
            <div class="small mb-1">Upgrade <span class="float-rx"><strong>0%</strong></span></div>
            <span class="progress progress-xs">
              <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100"></div>
            </span>
          </a>
          <a class="dropdown-item d-block" href="#">
            <div class="small mb-1"> task one<span class="float-rx"><strong>25%</strong></span></div>
            <span class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
            </span>
          </a>
          <a class="dropdown-item d-block" href="#">
            <div class="small mb-1">Solving the fifth lesson questions <span
                class="float-rx"><strong>50%</strong></span></div>
            <span class="progress progress-xs">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100"></div>
            </span>
          </a>
          <a class="dropdown-item d-block" href="#">
            <div class="small mb-1">watching content<span class="float-rx"><strong>75%</strong></span></div>
            <span class="progress progress-xs">
              <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100"></div>
            </span>
          </a>
          <a class="dropdown-item d-block" href="#">
            <div class="small mb-1">Understanding the lessons <span class="float-rx"><strong>100%</strong></span>
            </div>
            <span class="progress progress-xs">
              <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100"></div>
            </span>
          </a>
          <a class="dropdown-item text-center border-top Clr8" href="#"><strong><i class="fa fa-tasks pr-2"></i>
              View all tasks</strong></a>
        </div>

      </li>

      <li class="dropdown">
        <a class="dropdown-toggle btn notification" title="notification" data-toggle="dropdown" href="#">
          <i class="fa fa-bell fa-fw"></i>
          <span>4</span>
        </a>
        <ul class="dropdown-menu dropdown-messages dropdown-alerts animate__animated animate__fadeInDown">
          <div class="dropdown-header bg-light"><strong>You have 4 pending notifications</strong></div>
          <li>
            <a rel="nofollow" href="#" class="dropdown-item">
              <div class="notification-content"><i class="fa fa-envelope pr-2"></i>You have 6 new messages </div>
              <div class="notification-time"><small>4 minutes ago</small></div>
            </a>
          </li>
          <li>
            <a rel="nofollow" href="#" class="dropdown-item">
              <div class="notification-content"><i class="fab fa-twitter pr-2"></i>You have 2 followers</div>
              <div class="notification-time"><small>4 minutes ago</small></div>
            </a>
          </li>
          <li>
            <a rel="nofollow" href="#" class="dropdown-item">
              <div class="notification-content"><i class="fa fa-upload pr-2"></i>Server Rebooted</div>
              <div class="notification-time"><small>4 minutes ago</small></div>
            </a>
          </li>
          <li>
            <a rel="nofollow" href="#" class="dropdown-item">
              <div class="notification-content"><i class="fab fa-twitter pr-2"></i>You have 2 followers</div>
              <div class="notification-time"><small>10 minutes ago</small></div>
            </a>
          </li>
          <li>
            <a rel="nofollow" href="#" class="dropdown-item all-notifications text-center Clr8">
              <strong> <i class="fa fa-bell pr-2"></i>view all notifications </strong>
            </a>
          </li>
        </ul>
        <!-- /.dropdown-alerts -->
      </li>

    </ul>


    <a class="btn BgClr8 float-rx" href="#" title="I explain"><i class="fa fa-chalkboard-teacher"></i> <label>I
        explain</label></a>
    <a class="btn BgClr7 float-rx" href="#" title="Live"><i class="fa fa-video"></i> <label>Live</label></a>
  </div>

  <div class="TopBarSearch">
    <form class="navbar-search" role="search">
      <a href="#" class="SearchBtn"><i class="icofont-search-2"></i> </a>
      <input type="text" class="search-query" placeholder="Search your lessons or explainers ...">
    </form>
  </div>

  <a href="#" class="float-rx icoBtn"><i class="fa fa-ellipsis-v"></i></a>
  <a href="#" class="float-rx icoBtn2"><i class="icofont-search-2"></i></a>

</header>
