<div class="wrapper d-flex align-items-stretch">

  <app-side-bar></app-side-bar>

  <!-- Page Content  -->
  <main role="main" id="content" class=" home-content theme-Bg1">

    <app-header></app-header>

    <section class="content-body">
      <div class="container-fluid">
        <h1 class="theme-color"> Title Main</h1>
        <div class="wordLogo theme-color"><img src="./assets/img/favicon.ico" alt=""><span>xplain</span></div>
        <h2 class="mb-4">Sidebar #05</h2>
        <hr>
        <p>
          What is the concept of e-learning? What do you think of this concept? Answer:<br>

          E-learning can be ideally defined as: extending the concept of the teaching and learning process beyond the
          boundaries of the traditional classroom walls and launching to a rich multi-source environment in which
          interactive distance learning techniques will have a fundamental role in it so that the role of both the
          teacher and the learner is reformulated. ” That is, e-learning is not a substitute for the teacher but rather
          enhances its role as a supervisor, guide and organizer of the educational process, at a time when the learner
          takes the role of leadership and control in the educational process in terms of the time he wants to study,
          and choosing the appropriate study modes for him and his control of electronic operations from downloading or
          sending files Which leads to the development of his intellectual skills.

        </p>
        <div class="text-justify">
          <p>E-learning can be ideally defined as: extending the concept of the teaching and learning process beyond the
            boundaries of the traditional classroom walls and launching to a rich multi-source environment in which
            interactive distance learning techniques will have a fundamental role in it so that the role of both the
            teacher and the learner is reformulated. ” That is, e-learning is not a substitute for the teacher but
            rather enhances its role as a supervisor, guide and organizer of the educational process, at a time when the
            learner takes the role of leadership and control in the educational process in terms of the time he wants to
            study, and choosing the appropriate study modes for him and his control of electronic operations from
            downloading or sending files Which leads to the development of his intellectual skills.</p>
        </div>
      </div>
    </section>


    <app-footer></app-footer>

  </main>

</div>
